<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rendering Field</title>
        <style>
            canvas {
                border: 1px solid black;
                display: block;
                margin: 0 auto;
            }
            h1 {
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 100px;
            }
        </style>
    </head>
    <body>
        <h1>Field Render</h1>
        <canvas id="fieldCanvas", width="2430", height="1820"></canvas>
        <script src="/static/js/field.js"></script>
    </body>
</html>